.banner-about {
    height: 40rem;
    margin-bottom: 10rem;
    position: relative;


    &__inner {
        width: 100%;
        height: 40rem;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__background {
        width: 100%;
        height: 100%;
        object-fit: cover;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    &__text-block {
        width: 97.2rem;
        height: 16rem;
        display: flex;
        justify-content: space-between;
    }

    &__title-wrap {
        padding-top: 2.3rem;
    }

    &__subtitle {
        font-size: 1.6rem;
        font-weight: 600;
        color: rgba(255, 188, 58, 1);
        text-transform: uppercase;
        margin-bottom: 0.5rem;
    }

    &__title {
        font-size: 5rem;
        font-weight: 600;
        color: #FFFFFF;
    }

    &__advantages {
        display: flex;
        flex-direction: column;
    }

    &__advantage {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__advantage-number {
        font-size: 5rem;
        font-weight: 600;
        color: #FFFFFF;
        margin-right: 1.5rem;
    }

    &__advantage-title {
        font-size: 1.8rem;
        font-weight: 400;
        color: #FFFFFF;
        width: 10rem;
    }
}

.advantages {

    margin-bottom: 17rem;

    &__text {
        font-size: 2.2rem;
        font-weight: 600;
        text-align: center;
        color: #292729;
        margin-bottom: 10rem;
        line-height: 1.55;

        p {
            display: inline;
        }
    }

    &__content {
        display: flex;
    }

    &__text-left {
        width: 51rem;
        padding-top: 4.2rem;
    }

    &__text-left-subtitle {
        font-size: 1.6rem;
        font-weight: 600;
        color: #242424;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
    }

    &__text-left-title {
        font-size: 4rem;
        font-weight: 700;
        color: #242424;
        margin-bottom: 3rem;
    }

    &__text-left-text {
        font-size: 1.8rem;
        font-weight: 400;
        color: #5F5F5F;
        width: 42.6rem;
        line-height: 1.45;
    }

    &__cards-wrap {
        display: flex;
    }

    &__card {
        width: 30rem;
        height: 33rem;
        padding: 3rem;
        background: #F9F9F9;
        cursor: pointer;
        transition: 0.7s;
        position: relative;

        &:not(:last-child) {
            margin-right: 7.55rem;
        }

        @media (min-width: 48em) {
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &__card-background {
        position: absolute;
        // z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 23.3rem;
        object-fit: contain;
    }

    &__card-top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 4rem;
    }

    &__top-img {
        width: 6rem;
        height: 6rem;

        img {
            height: 100%;
            object-fit: contain;
        }
    }

    &__card-num {
        font-size: 2.2rem;
        font-weight: 400;
        color: #5F5F5F;
    }

    &__card-title {
        font-size: 2.2rem;
        font-weight: 400;
        color: #434248;
        margin-bottom: 3.5rem;
    }

    &__card-text {
        font-size: 1.6rem;
        font-weight: 400;
        color: #5F5F5F;
        line-height: 1.45;
    }

}



.command {
    position: relative;
    margin-bottom: 17rem;
    overflow: hidden;

    .container {
        margin: 0 3rem 0 18rem;
        width: 170rem;
    }

    &__inner {
        height: 60rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        font-size: 4rem;
        font-weight: 600;
        color: #292729;
        margin-bottom: 7.7rem;
        position: relative;
        z-index: 4;
    }

    &__sliders-wrap {
        display: flex;
        align-items: start;
        height: 100%;
    }

    &__sliders-left {
        width: 50rem;
        align-self: center;
    }

    &__color-block {
        position: absolute;
        width: 105.3rem;
        height: 60rem;
        background: $brendColor;
        top: 0;
        right: 0;
        z-index: -5;
    }

    &__about-pipl-slider {
        overflow: hidden;
        height: 22rem;
        padding: 1rem 1rem 1rem 0rem;
    }

    &-about-pipl-slide {
        height: 36rem;
        width: 36rem;
    }

    &__pipl-name {
        font-size: 2.2rem;
        font-weight: 600;
        color: #292729;
        margin-bottom: 0.4rem;
    }

    &__pipl-position {
        font-size: 1.8rem;
        font-weight: 400;
        color: #444444;
        margin-bottom: 1.5rem;
    }

    &__pipl-contact {
        font-size: 1.8rem;
        font-weight: 400;
        color: #292729;
        display: flex;
        align-items: center;

        img {
            width: 2.5rem;
            height: 2.5rem;
            object-fit: contain;
            margin-right: 1.5rem;
        }

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        &.e-mail {
            color: #FFBC3A;
        }
    }

    &__about-pipl-control {
        display: flex;
        width: 25rem;
        justify-content: space-between;
    }

    &__about-pipl-pagin {
        position: relative;
        z-index: 4;
        bottom: 0;
    }

    &__sliders-right {
        overflow: hidden;
        width: 120rem;
    }

    &__photo-pipl-slider {
        height: 36rem;
        width: 36rem;
    }

    &__photo-slide {
        width: 36rem;
        height: 35.5rem;
        background: #F9F9F9;

        position: relative;
        z-index: -2;
    }

    &__photo-background {
        position: absolute;
        top: 0;
        right: 0;
        width: 27rem;
        height: 35.5rem;
        object-fit: contain;
        z-index: -1;
    }

    &__photo-img {
        width: 100%;
        height: 100%;
        object-fit: contain;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}



.reviews {
    height: 67.1rem;
    position: relative;
    margin-bottom: 16.5rem;

    &__left-block {
        width: 60rem;
        padding: 2.5rem 1rem 1rem 0rem;
        height: 53rem;
        margin-bottom: 9rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__left-block-subtitle {
        font-size: 1.6rem;
        font-weight: 600;
        color: #242424;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
    }

    &__left-block-title {
        font-size: 4rem;
        font-weight: 600;
        color: #242424;
    }

    &__left-block-par-wrap {
        font-size: 1.8rem;
        font-weight: 400;
        height: 20rem;
        display: flex;
        padding: 0rem 0.5rem 1rem 0rem;
        color: #5F5F5F;
        line-height: 1.35;
        flex-direction: column;
        justify-content: flex-end
    }

    &__left-block-par {

        &:not(:last-child) {
            margin-bottom: 2.5rem;
        }
    }

    &__slider {
        width: 105.3rem;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
    }

    &__slide {
        width: 37.5rem;
        height: 57rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        opacity: 0.6;

        &::before {
            content: "";
            width: 15rem;
            height: 15rem;
            overflow: hidden;
            border-radius: 0% 0% 0% 100%;
            position: absolute;
            top: 15rem;
            left: 10%;
            border-bottom: 3px solid #FFBC3A;
            border-left: 3px solid #FFBC3A;
            z-index: 1;
        }

        &::after {
            content: "";
            width: 15rem;
            height: 15rem;
            overflow: hidden;
            border-radius: 0% 0% 100% 0;
            position: absolute;
            top: 15rem;
            left: 50%;
            transform: translateX(0%);
            border-right: 1.5px solid rgba(255, 255, 255, 0.2);
            border-bottom: 1.5px solid rgba(255, 255, 255, 0.2);
            z-index: 1;
        }

        &.swiper-slide-next,
        &.swiper-slide-active,
        &.swiper-slide-prev {
            opacity: 1;
        }
    }

    &__color-block-paper {
        width: 27.8rem;
        height: 27.6rem;
        object-fit: contain;
        filter: drop-shadow(1rem 2rem 2rem rgba(67, 66, 72, 0.3));
        position: absolute;
        z-index: 3;
        left: 5.5rem;
        top: 0rem;
    }

    &__slide-content {
        height: 42rem;
        width: 100%;
        position: relative;
        padding: 18.5rem 2rem 2rem 2rem;
        background: $brendColor;

        &::before {
            content: "";
            width: 25rem;
            height: 25rem;
            border-radius: 50%;
            background: #ffffff;

            position: absolute;
            overflow: hidden;
            top: -30%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
        }
    }

    &__slide-content-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__slide-title {
        font-size: 2.5rem;
        font-weight: 600;
        color: #ffffff;
        margin-bottom: 3rem;
    }

    &__slide-subtitle {
        text-align: center;
        font-size: 1.8rem;
        font-weight: 400;
        color: #ffffff;
        width: 70%;
        line-height: 1.4;
        min-height: 8rem;
        margin-bottom: 2rem;
    }

    &__slider-link {
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        font-weight: 600;
        color: #ffffff;
    }

    &__slider-btn-img {
        width: 5rem;
        height: 5rem;
        background: #FFBC3A;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1.5rem;

        img {
            width: 1rem;
            height: 1.5rem;
            object-fit: contain;
        }
    }

    &__slide-controll {
        display: flex;
        justify-content: space-between;
        width: 25rem;
    }
}
