.breadcrumbs {
    display: flex;
    font-size: 1.6rem;
    font-weight: 300;
    color: rgba(206, 206, 206, 1);

    margin-bottom: 9.5rem;


    a {
        position: relative;
        line-height: 1.5;

        &:not(:last-child) {
            margin-right: 5rem;
        }

        &:not(:first-child) {

            &::before {
                content: "";
                width: 0.1rem;
                height: 1.6rem;
                background-color: rgba(206, 206, 206, 1);

                position: absolute;
                left: -2.4rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &:last-child {
            color: rgba(0, 0, 0, 1);

            &::before {
                content: "";
                background-color: #285F5B;
            }
        }
    }
}





@media (max-width: 48em) {

    .breadcrumbs {
        display: inline-block;
        font-size: 3rem;
        margin-bottom: 15.8rem;

        a {
            position: relative;

            &:not(:last-child) {
                margin-right: 4rem;
            }

            &:not(:first-child) {

                &::before {
                    height: 3.2rem;
                    left: -2rem;
                }
            }

            &:last-child {
                &::before {
                    top: 50%;
                }
            }
        }
    }
}
