.catalog {

    padding-top: 5rem;

    &__number {
        font-size: 1.8rem;
        font-weight: 600;
        color: $brendColor;
        margin-bottom: 2.1rem;
    }
    
    &__title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    margin-bottom: 5rem;
    }
    
    &__title {
    font-size: 4rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    }
    
    &__link-wrap {
    display: flex;
    align-items: center;
    }
    
    &__link-text {
    font-size: 1.6rem;
    font-weight: 700;
    color: rgba(35, 35, 35, 1);
    margin-right: 2rem;
    }
    
    &__link-img {
    width: 5rem;
    height: 5rem;
    background-color: $brendColor;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 1.5rem;
        height: 1.5rem;
        object-fit: contain;
    }

    }
    
    &__options {
        display: flex;
        margin-bottom: 5rem;
    }
    
    &__option-wrap {
        width: 39.2rem;
        height: 19.6rem;
        cursor: pointer;
        position: relative;

    &:not(:last-child) {
        margin-right: 0.9rem;
    }

    }

    &__option {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 1);
        padding: 1rem;
    
        border: 0.16rem solid $brendColor;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    
        transition: 1s;

        &.active {
                // width: 35.8rem;
                // height: 21.1rem;
                background-color: $brendColor;
                transform: scale(1.05);

                position: absolute;
                // top: -1rem;
                // left: 1.5rem;
                z-index: 10;
        
                .catalog__option-title {
                    font-weight: 400;
                    color: rgba(255, 255, 255, 1);
                }

                .catalog__option-img {
                    svg {
                        fill: rgba(255, 255, 255, 1);
                        stroke: rgba(255, 255, 255, 1);
                    }
                }
            }
    }


    &__option-img {
        width: 6.6rem;
        height: 5.7rem;

        margin-bottom: 2.2rem;

        svg {
            width: 6.6rem;
            height: 5.7rem;
            fill: #E1E1E1;
            stroke: #E1E1E1;
        }
    }
    
    &__option-title {
    font-size: 2rem;
    font-weight: 600;
    color: $brendColor;

    text-align: center;
    }
    
    &__item-wrap {
    
    }

    
    &__select-wrap {
        display: flex;
        flex-direction: column;

        display: none; 
        
            &.active {
                display: flex;
            }
    }
 
    &__select {
    margin-bottom: 3rem;
    }
    
    &__select-title {
    font-size: 3rem;
    font-weight: 400;
    color: rgba(41, 39, 41, 1);
    width: max-content;

    margin-bottom: 3.5rem;
    cursor: pointer;
    position: relative;
    transition: 0.4s;

    &:after {
        content: "";
        width: 2rem;
        height: 2rem;
        background: url(./../img/arrow-select-black.svg);
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;

        right: -5.5rem;
        top: 1rem;
    }

    &.active {
        margin-bottom: 2rem;
        &:after {
        background: url(./../img/arrow-select-orange.svg);
        background-repeat: no-repeat;
        background-size: contain;
        right: -8rem;
        }
    }
    }

    &__select-list-wrap {
        display: none;
    }    
    
    &__select-list {
    font-size: 1.8rem;
    font-weight: 400;
    color: rgba(41, 39, 41, 1);
    margin-bottom: 2rem;

    &.grid-display {
        display: grid;
        grid-template: repeat(14, 1fr) / repeat(2, 1fr);
        grid-auto-flow: column dense;
    }
}
    
    &__select-item {
        width: 100%;
        padding: 1.5rem 1.5rem 1.35rem 0rem;
        transition: 0.1s;

        &:hover {
            background-color: rgba(241, 241, 241, 1);
            padding: 1.5rem 1.5rem 1.35rem 1.5rem;

            .catalog__select-link {
                span {
                    color: $brendColor;
                    font-weight: 500;
                }
            }
        }
    }


    &__select-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-self: center;

        div {
            width: 75%;
        }
        

        span {
            color: rgba(192, 192, 192, 1);
            width: 20%;
            text-align: end;
        }
    }
}
