.catalog {


    &.catalog3 {
        margin-bottom: 17.5rem;
        
        .catalog__title-wrap {
            margin-bottom: 4.5rem;

        .catalog__bottom {
            padding-left: 40rem;
        }
        }
    }

    &__wrapper {
        display: flex;
        margin-bottom: 3.3rem;
    }

    &__filter-block {
        width: 39.4rem;

        display: flex;
        flex-direction: column;
    }

    &__filter-sort {
        border: 1px solid rgba(228, 228, 228, 1);
        padding: 4rem 4rem 2.5rem 4rem;
    }

    &__filter-sort-title {
        font-size: 1.8rem;
        font-weight: 600;
        color: rgba(41, 39, 41, 1);

        margin-bottom: 0.6rem;
    }


    &__filter-selection {
        padding: 3.5rem 4rem 4rem 4rem;
        border-right: 1px solid rgba(228, 228, 228, 1);
        border-left: 1px solid rgba(228, 228, 228, 1);
        border-bottom: 1px solid rgba(228, 228, 228, 1);
        background: rgba(249, 249, 249, 1);
        height: 100%;
    }


    &__search-wrap {
        margin-bottom: 4rem;
    }


    &__search {
        display: flex;
        align-items: center;

        position: relative;

        &::before {
            content: "";
            width: 2rem;
            height: 2rem;
            background-image: url(./../img/loup-black.svg);
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            top: 50%;
            left: 1.3rem;
            transform: translateY(-50%);
        }

    }

    &__search-input {
        height: 5rem;
        width: 25.4rem;
        background: rgba(255, 255, 255, 1);
        border: none;
        outline: none;
        padding: 1.5rem 1.5rem 1.5rem 5.1rem;
        font-size: 2rem;
        margin-right: 1rem;


        &::placeholder {
            color: rgba(197, 197, 197, 1);
            font-size: 1.6rem;
            font-weight: 400;
        }
    }

    &__search-btn {
        width: 5rem;
        height: 5rem;
        background-color: $brendColor;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 1.5rem;
            height: 1.5rem;
            object-fit: contain;
        }
    }


    &__filter-title-wrap {
        display: flex;
        align-items: center;

        margin-bottom: 2.2rem;

    }

    &__filter-title-img {
        width: 5rem;
        height: 5rem;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: $brendColor;
        margin-right: 2.1rem;

        img {
            width: 2.5rem;
            height: 2.5rem;
            object-fit: contain;
        }
    }

    &__filter-title {
        font-size: 1.8rem;
        font-weight: 600;
        color: rgba(41, 39, 41, 1);
    }


    &__checkbox-item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 1.85rem;
        }

        &:last-child {
            margin-bottom: 7.8rem;
        }

    }

    &__checkbox-label {
        font-size: 1.8rem;
        font-weight: 400;
        color: #292729;
        padding-left: 1.5rem;

        display: flex;
        align-items: center;
        cursor: pointer;

    }

    &__checkbox-input {
        outline: none;
        border: none;
        position: relative;
        margin-right: 4rem;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 2.5rem;
            height: 2.5rem;
            background: #FFFFFF;
            border: 1px solid #C0C0C0;
            border-radius: 0.3rem;
            transform: translate(-50%, -50%);
        }

        &:checked:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 0.3rem;
            background-image: url(./../img/check.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 1.5rem;
            background-color: $brendColor;
            transform: translate(-50%, -50%);
            visibility: visible;
        }
    }


    &__products {
        display: flex;
        flex-wrap: wrap;
        width: 117.2rem;
    }

}


.filter {

    &__input-label {
        display: flex;

        font-size: 1.8rem;
        font-weight: 400;
        margin-bottom: -1rem;
    }

    &__input-wrap {
        display: flex;
        justify-content: space-between;

    }

    &__slider-value {
        font-size: 1.8rem;
        font-weight: 400;
        border: none;
        width: 5.5rem;

        padding: 0 0.3rem;
    }

    &__slider-text {
        font-size: 1.2rem;
        font-weight: 400;
    }
}




// стилизация JS КЛАССОВ 

.filter__dropdown-content.range-slider {
    width: 75%;
    margin-left: auto;
}

.irs--flat .irs-bar {
    background-color: #FFBC3A;

    height: 0.4rem;
}

.filter__input-label {
    margin-bottom: 0;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {

    background-image: url(./../img/runner.png);

}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
    &::before {
        content: none;
    }
}

.irs--flat .irs-line {
    height: 0.4rem;

    background-color: #e1e4e9;
    // background-image: url(./../img/runner.png);

}

.irs--flat .irs-handle>i:first-child {
    width: 2.1rem;
    height: 2.1rem;
    top: -0.4rem;
    left: 30%;
    background-image: url(./../img/runner.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;

}

.irs--flat .irs-handle.state_hover>i:first-child,
.irs--flat .irs-handle:hover>i:first-child {
    background-color: transparent;
}
