.catalog {

    padding-top: 5rem;

    &__breadcrumbs {
        display: flex;
        font-size: 1.6rem;
        font-weight: 300;
        color: rgba(206, 206, 206, 1);

        margin-bottom: 9.2rem;


        a {
        position: relative;

            &:not(:last-child) {
                margin-right: 6rem;
    
                &::after {
                    content: "";
                    width: 0.1rem;
                    height: 1.6rem;
                    background-color: #285F5B;
    
                    position: absolute;
                    right: -3rem;
                }
            }
    
            &:last-child {
                color: rgba(0, 0, 0, 1);
            }
        }
    }
    
    &__number {
        font-size: 1.8rem;
        font-weight: 600;
        color: $brendColor;
        margin-bottom: 2.1rem;
    }
    
    &__title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    margin-bottom: 5rem;
    }
    
    &__title {
    font-size: 4rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    }
    
    &__link-wrap {
    display: flex;
    align-items: center;
    }
    
    &__link-text {
    font-size: 1.6rem;
    font-weight: 700;
    color: rgba(35, 35, 35, 1);
    margin-right: 2rem;
    }
    
    &__limk-img {
    width: 5rem;
    height: 5rem;
    background-color: $brendColor;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 1.5rem;
        height: 1.5rem;
        object-fit: contain;
    }

    }
    
    &__options {
        display: flex;
        // justify-content: space-between;

        margin-bottom: 5rem;
    }
    
    &__option-wrap {
        width: 39.2rem;
        height: 19.6rem;
        cursor: pointer;
        position: relative;

    // &:hover {
    //     width: 35.8rem;
    //     height: 21.1rem;
    //     background-color: $brendColor;

    //     position: absolute;
    //     top: -1rem;
    //     left: -0.5rem;

    //     .catalog__option-title {
    //         font-weight: 400;
    //         color: rgba(255, 255, 255, 1);
    //     }

    // }

    &:not(:last-child) {
        margin-right: 0.9rem;
    }

    }

    &__option {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 1);
        padding: 1rem;
    
        border: 0.16rem solid $brendColor;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    
        transition: 1s;

        &:hover {
                width: 35.8rem;
                height: 21.1rem;
                background-color: $brendColor;

                position: absolute;
                top: -1rem;
                // left: 1.5rem;
                z-index: 10;
        
                .catalog__option-title {
                    font-weight: 400;
                    color: rgba(255, 255, 255, 1);
                }
        
            }
    }

    &__option-img {
        width: 10.8rem;
        height: 10.8rem;

        margin-bottom: 1.8rem;

        img {
            height: 100%;
        }
    }
    
    &__option-title {
    font-size: 2rem;
    font-weight: 600;
    color: $brendColor;

    text-align: center;
    }
    
    &__item-wrap {
    
    }



    
    &__select-wrap {
        display: flex;
        flex-direction: column;
    
    }
    &__select-list-wrap {
        display: flex;
        display: none;

        &.active {
        display: flex;
            
        }
    }
    &__select {
    margin-bottom: 3rem;
    }
    
    &__select-title {
    font-size: 3rem;
    font-weight: 400;
    color: rgba(41, 39, 41, 1);
    width: max-content;

    margin-bottom: 3.1rem;
    cursor: pointer;
    position: relative;

    &:after {
        content: "";
        width: 2rem;
        height: 2rem;
        background: url(./../img/arrow-select-black.svg);
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;

        right: -6rem;
        top: 1rem;
    }

    &.active {
        &:after {
        background: url(./../img/arrow-select-orange.svg);
        background-repeat: no-repeat;
        background-size: contain;
        }
    }
    }
    
    &__select-list {
    font-size: 1.8rem;
    font-weight: 400;
    color: rgba(41, 39, 41, 1);
    // display: none;
    }
    
    &__select-item {
        width: 50%;
        // height: 4.9rem;
        padding: 2rem 2rem 2rem 2rem;

        &:not(:last-child) {
            margin-bottom: 3.2rem;
        }

        &:hover {
            background-color: rgba(241, 241, 241, 1);
        }
    }

    &__select-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-self: center;
        

        span {
            color: rgba(192, 192, 192, 1);
        }

       
    }
}

