.delivery {

    padding-top: 4.6rem;
    margin-bottom: 14.5rem;

    &__breadcrumbs {
        margin-bottom: 14.5rem;
    }
    
    
    &__title-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    
        margin-bottom: 2.8rem;
        }
        
        &__title {
        font-size: 4rem;
        font-weight: 400;
        color: rgba(0, 0, 0, 1);

        &.down {
            margin-bottom: 5.1rem;
        }
        }
        
        &__link-wrap {
        display: flex;
        align-items: center;
        }
        
        &__link-text {
        font-size: 1.6rem;
        font-weight: 700;
        color: rgba(35, 35, 35, 1);
        margin-right: 2rem;
        }
        
        &__link-img {
        width: 5rem;
        height: 5rem;
        background-color: $brendColor;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        img {
            width: 1.5rem;
            height: 1.5rem;
            object-fit: contain;
        }
    }

    &__subtitle {
        font-size: 1.6rem;
        font-weight: 400;
        color: rgba(157, 157, 157, 1);
        margin-bottom: 4.8rem;
        width: 61%;
    }
    
    &__content {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 7.5rem;

}
    &__box {
        width: 31.2rem;
        height: 16rem;

        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #E4E4E4;
        background-color: #ffffff;
        transition: 1s;
        cursor: pointer;

        background-position: center;
        background-repeat: no-repeat;
        background-size: 50% center;

        &:nth-child(1) {
            background-image: url(./../img/delivery1c.png);

            &:hover {
                background-image: url(./../img/delivery_1.png);
            }
        }

        &:nth-child(2) {
            background-image: url(./../img/delivery2c.png);

            &:hover {
                background-image: url(./../img/delivery_7.png);
            }
        }

        &:nth-child(3) {
            background-image: url(./../img/delivery3c.png);

            &:hover {
                background-image: url(./../img/delivery_6.png);
            }
        }

        &:nth-child(4) {
            background-image: url(./../img/delivery4c.png);

            &:hover {
                background-image: url(./../img/delivery_5.png);
            }
        }

        &:nth-child(5) {
            background-image: url(./../img/delivery5c.png);

            &:hover {
                background-image: url(./../img/delivery_4.png);
            }
        }

        &:nth-child(6) {
            background-image: url(./../img/delivery6c.png);

            &:hover {
                background-image: url(./../img/delivery_3.png);
            }
        }

        &.pickup {
            flex-direction: column;
            
            span {
                font-size: 2.1rem;
                font-weight: 400;
                color: #FFBC3A;
            }

            img {
                width: 3.2rem;
                height: 4.5rem;
            }
        }

        &:hover {
            transform: scale(1.1);
            box-shadow: 0px 10px 60px rgba(41, 39, 41, 0.08);
        }
}
   
    
    
    &__informations {
        display: flex;
    }
    
    &__information-wrap {
    display: block;
    width: 21rem;

    &:not(:last-child) {
        margin-right: 7.1rem;
    }
    }
    
    &__information-top {
    display: flex;
    margin-bottom: 1.5rem;
    }

    &__information-img {
        width: 2.4rem;
        height: 2.9rem;
        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 1.4rem;

        svg {
            width: 2.4rem;
            height: 2.9rem;
            stroke: #FFBC3A;
        }
    }
    
    &__information-title {
    font-size: 2.2rem;
    font-weight: 500;
    color: rgba(41, 39, 41, 1);
    
    }
    
    &__information-bottom {
        font-size: 2rem;
        font-weight: 400;
        color: rgba(41, 39, 41, 1);

    }

}

