.header {


    &__inner {
        padding-top: 1.8rem;

    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 255, 255, 1);
        margin-bottom: 1.5rem;
    }

    &__logo {
        width: 20.4rem;
        height: 5rem;
    }

    &__contact-info {
        display: flex;
        align-items: center;
    }

    &__social {
        width: 3.1rem;
        height: 3.1rem;

        margin-right: 2.5rem;
    }

    &__social-wrap {
        display: flex;
    }

    &__email-wrap {
        color: $textColor;
        margin-right: 3.2rem;
        padding-bottom: 1.5rem;
    }

    &__email {
        font-size: 1.8rem;
        font-weight: 600;
    }

    &__email-text {
        font-size: 1.6rem;
        font-weight: 400;

    }

    &__phone-number {
        color: $textColorLight;
        font-size: 1.8rem;
        font-weight: 600;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 24.6rem;
        height: 6.9rem;
        background-color: $brendColor;
    }

    &__bottom {
        padding-left: 43.8rem;
        padding-right: 5rem;
        background-color: rgba(249, 249, 249, 1);

        height: 5.3rem;
    }


    &__nav {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__nav-list {
        display: flex;
        align-items: center;
        margin-right: 15.5rem;
    }

    &__nav-item {
        font-size: 1.7rem;
        color: $textColor;

        &:not(:last-child) {
            margin-right: 8.1rem;
        }

        &:first-child {
            a {
                width: 18.2rem;
                height: 5.3rem;
                background-color: $brendColor;
    
                display: flex;
                align-items: center;
                justify-content: center;
    
                color: #ffffff;
                font-weight: 400;

                img {
                    width: 1.5rem;
                    height: 2.5rem;
                    margin-left: 2rem;
                }
            }
        }
    }


    &__search-wrap {
        width: 20rem;
        height: 100%;

        display: flex;
        align-items: center;

    }

    &__search {
        width: 20rem;
        display: flex;
        align-items: center;
    }

    &__search-input {
        width: 17rem;
        font-size: 1.8rem;

        &::placeholder {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
        }

    }

    &__search-btn {
        width: 5rem;
        height: 5rem;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        img {
            width: 3.2rem;
            height: 3.2rem;
            object-fit: cover;
        }
    }
}





.banner {

    margin-bottom: 12.3rem;
    overflow: hidden;

    &__slider-wrap {
        display: flex;
    }

    &__slider-box-inner {
        display: flex;
        height: 65.5rem;
    }

    &__slide-box-left {
        width: 51.5rem;
        padding: 28.5rem 1rem 10.5rem 1rem;
        position: relative;
        display: flex;
        justify-content: flex-end;
    }

    &__slide-left-text {
        width: 32.5rem;
    }

    &__subtitle-small {
        font-size: 1.8rem;
        font-weight: 600;
        color: $accentColor;
        margin-bottom: 1rem;
    }

    &__title-small {
        font-size: 3.2rem;
        font-weight: 600;
        color: #ffffff;
    }

    &__slide-box-right {
        width: 140rem;
        padding: 19.2rem 17.7rem 10.8rem 8rem;
        position: relative;
    }

    &__slide-img-left {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        height: 100%;
        object-fit: cover;
    }

    &__slide-img-right {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        height: 100%;
        object-fit: cover;
    }

    &__slide-box-right-wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__slide-top {
        margin-bottom: 4.5rem;
    }

    &__subtitle {
        font-size: 1.8rem;
        color: $accentColor;
        font-weight: 600;
        margin-bottom: 1.2rem;
        line-height: 1.25;
    }

    &__title-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2.8rem;
    }

    &__title {
        font-size: 5rem;
        font-weight: 600;
        color: #ffffff;
        width: 60rem;
    }

    &__arrow-next {
        cursor: pointer;
        align-self: flex-end;
        margin-bottom: 2rem;
        img {
            width: 2rem;
            height: 1.5rem;
        }
    }

    &__arrow-prew {
        cursor: pointer;
        img {
            width: 2rem;
            height: 1.5rem;
        }
    }

    &__pagination {
        width: 10rem;
        color: #ffffff;
    }

    &__more-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__more {
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__more-text {
        font-size: 1.6rem;
        font-weight: 600;
        color: rgba(255, 255, 255, 1);
    }

    &__more-arrow {
        width: 5rem;
        height: 5rem;
        background-color: $accentColor;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 2rem;

        img {
            width: 2rem;
            height: 1.5rem;
        }
    }

    &__slide-down {
        padding-top: 6rem;
        border-top: 1px solid rgba(242, 242, 242, 0.3);
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;

        color: #ffffff;
        font-size: 1.7rem;

    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 3.8rem;

        position: relative;

        &::before {
            content: "";
            height: 0.1rem;
            width: 2.6rem;
            background-color: #F2F2F2;

            position: absolute;
            left: 0;
        }
    }


    &__slide-box-left-big {
        position: relative;
        width: 135rem;
        padding: 18.8rem 8rem 10.8rem 18.0rem;
    }

    &__slide-box-right-small {
        position: relative;
        width: 57rem;
        padding: 31.7rem 2rem 23rem 4.3rem;
    }
}


.categories {

    margin-bottom: 18.2rem;

    &__top {
        display: flex;
        align-items: flex-end;
        margin-bottom: 7rem;

    }

    &__title {
        font-size: 4rem;
        font-weight: 600;
        color: $textColor;
        margin-right: 7.5rem;
    }

    &__sort-wrap {
        display: flex;
        align-items: flex-end;
        line-height: 2;
    }

    &__sort-link {
        font-size: 1.7rem;
        font-weight: 600;

        &:not(:last-child) {
            margin-right: 4rem;
        }

        &.active {
            color: $brendColor;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
    }

    &__box {
        width: 49.3rem;
        height: 30rem;
        position: relative;

        cursor: pointer;

        &:not(:nth-child(3n)) {
            margin-right: 4rem;
        }

        &:not(:nth-child(n+4)) {
            margin-bottom: 4rem;
        }

    }

    &__box-start {
        padding: 4rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__box-img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    &__box-subtitle {
        font-size: 1.8rem;
        font-weight: 600;
        color: $accentColor;
        margin-bottom: 0.5rem;
    }

    &__box-title {
        font-size: 3.2rem;
        font-weight: 600;
        color: #ffffff;
    }

    &__box-hover {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: $brendColor;
        opacity: 0;
        transition: 0.7s;

        padding: 4rem;

        &:hover {
            opacity: 1;
            display: block;

        }
    }


    &__hover-subtitle {
        font-size: 1.8rem;
        font-weight: 600;
        color: rgba(255, 255, 255, 1);
        margin-bottom: 1rem;
    }

    &__hover-title {
        font-size: 3.2rem;
        font-weight: 600;
        color: rgba(255, 255, 255, 1);
        margin-bottom: 3rem;
    }

    &__hover-text {
        font-size: 1.7rem;
        font-weight: 300;
        color: rgba(255, 255, 255, 1);
        width: 89%;
        line-height: 1.3;
    }

    &__hover-link {
        width: 9.5rem;
        height: 8.9rem;
        background-color: rgba(255, 255, 255, 1);

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        right: 0;
        top: 0;

        img {
            width: 2rem;
            height: 2rem;
        }
    }
}




.services {

    // margin-left: 18rem;
    margin-bottom: 6rem;
    overflow: hidden;

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-size: 4rem;
        font-weight: 600;
        color: $textColor;
        margin-bottom: 7rem;
    }

    &__slider-control-wrap {
        display: flex;
        margin-right: 17.5rem;
        width: 26rem;
    }

    &__pagination {
        margin-right: 5.65rem;
        font-size: 1.5rem;
        font-weight: 400;

        .swiper-pagination-current {
            font-size: 4rem;
            font-weight: 600;
        }

        .swiper-pagination-total {
            font-size: 1.5rem;
            font-weight: 400;
        }
    }

    &__content {
        display: flex;
        // min-width: 0;
    }

    &__slider {
     
    }

    &__slider-wrap {
        cursor: pointer;
    }

    &__slide {
        height: 57rem;
        position: relative;
        width: 52rem !important;
    }


    &__slide-start {
        border: 1px solid #E4E4E4;
        padding: 5rem 5rem 6.6rem 5rem;
        transition: 0.8s;

        &:hover {
            width: 55.2rem;
            height: 49.4rem;
            opacity: 1;
            transform: scale(1.01);
            box-shadow: 0rem 4rem 10rem rgba(27, 36, 49, 0.05);
            padding: 5.5rem 4.2rem 4.2rem 4.2rem;
            border: none;
            background-color: #ffffff;

            position: absolute;
            top: -4rem;
            left: 0;
            z-index: 10;

            .services__slide-link-hover {
                display: flex;
            }

            .services__slide-title {
                color: $brendColor;
            }

            .services__slide-subtitle {
                margin-bottom: 4.2rem;
            }

            .services__img-bg {
                display: block;
            }
        }
    }

    &__slide-img-wrap {
        width: 10.8rem;
        height: 10.8rem;
        margin-bottom: 5rem;

        svg {
            fill: $brendColor;
            stroke: $brendColor;
        }
    }

    &__slide-img {
        height: 100%;
    }

    &__slide-title {
        font-size: 2.5rem;
        font-weight: 500;
        color: $textColor;
        margin-bottom: 2.2rem;
    }

    &__slide-subtitle {
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 1.3;

    }

    &__img-bg {
        position: absolute;
        right: 0;
        top: 0;
        width: 65%;
        height: 100%;
        object-fit: cover;
        display: none;
    }


    &__slide-link-hover {
        font-size: 1.6rem;
        font-weight: 700;
        color: rgba(35, 35, 35, 1);

        display: flex;
        align-items: center;
        display: none;
    }

    &__slide-arrow {
        width: 5.2rem;
        height: 5rem;
        flex-shrink: 0;
        background-color: $brendColor;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 2.1rem;

        img {
            width: 1.3rem;
            height: 1.3rem;
        }
    }

}




.distributor {

    margin-bottom: 17.5rem;
    margin-left: 18rem;
    margin-right: 15rem;

    &__content {
        display: flex;
        justify-content: space-between;
    }
    
    &__photo {
        overflow: hidden;
        width: 76rem;
        position: relative;
    }
    

    &__photo-wrap {
    position: relative;
    z-index: 2;
    }
    
    &__photo-slide {
        padding: 5.9rem 5.7rem 4.3rem 5.8rem;
        position: relative;
        background-color: rgba(249, 249, 249, 1);
        z-index: -1;
    }

    &__background{
        position: absolute;
        transform: scale(-1, 1);
        height: 100%;
        width: 53%;
        object-fit: cover;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &__photo-slide-top {
    
    }
    
    &__photo-slide-new {
        width: 14.43rem;
        height: 4.35rem;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: rgba(31, 72, 69, 1);

        img {
            width: 2.4rem;
            height: 2.4rem;

            margin-right: 1.07rem;
        }

        span {
            font-size: 1.8rem;
            font-weight: 500;
            color: rgba(255, 255, 255, 1);
        }
    
    }
    
    &__photo-slide-img {
    width: 45rem;
    height: 43rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    img {
        height: 100%;
        object-fit: cover;
        mix-blend-mode: multiply;
        transform: rotate(3.18deg);
    }
    
    }
    
    &__photo-slide-text {
    
    }
    
    &__photo-slide-articul {
    font-size: 1.46rem;
    font-weight: 600;
    color: #285F5B;
    }
    
    &__photo-slide-down {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
    }
    
    &__photo-slide-name {
    font-size: 2.5rem;
    font-weight: 400;
    color: $textColor;
    }
    
    &__photo-slide-price {
        font-size: 3.9rem;
        font-weight: 600;

        sup {
            font-size: 1.8rem;
            vertical-align: top;
        }
    
    }
    
    &__our-distr {
        width: 79rem;
    }
    
    &__our-distr-title {
        font-size: 4rem;
        font-weight: 600;

        margin-bottom: 4rem;
    }
    
    &__our-distr-control {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 2.4rem;
        width: 96%;
    }
    
    &__our-disr-pagin {
    
    }
    
    &__arrow {

    
    }
    
    &__arrow-prev {
    
    }
  
    &__arrow-next {
    
    }
  
    &__our-distr-slider {
        overflow: hidden;
    
    }
    
    &__our-distr-slider-wrap {
        display: inline-flex;
    }
    
    &__our-distr-slide {
        display: flex;
        flex-wrap: wrap;
    }
    
    &__our-distr-box {
        width: 23.3rem;
        height: 14rem;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #1F4845;
        cursor: pointer;

        &:not(:nth-child(3n)) {
            margin-right: 2.8rem;
        }

        &:not(:nth-child(n+6)) {
            margin-bottom: 2.8rem;
        }

        position: relative;
    }
    
    &__box-img-start {
        margin: 0 auto;
        object-fit: contain;
        height: 7rem;
        width: 14.1rem;
    }

    &__our-distr-box-hover {
        position: absolute;
        width: 26.7rem;
        height: 17.1rem;
        top: -1.5rem;
        left: -1.5rem;

        display: flex;
        align-items: center;
        justify-content: center;

        background: #ffffff;
        box-shadow: 0rem 2rem 2rem rgba(27, 36, 49, 0.16);
        opacity: 0;
        transition: 0.8s;

        &:hover {
            transform: rotateY(180deg);
            transform-style: preserve-3d;
            opacity: 1;
        }
    }
    
    &__box-img-hover {
        transform: rotateY(180deg);
        height: 8.8rem;
        object-fit: contain;
    }
    

}


.clients {

    // margin-left: 18rem;
    margin-bottom: 22.5rem;
    overflow: hidden;
    
    &__title-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        // margin-right: 18rem;
        margin-bottom: 10rem;
    }
    

    &__title {
        font-size: 4rem;
        font-weight: 600;
        color: $textColor;
    }
    

    &__control-wrap {
        display: flex;
    
    }
    

    &__pagination {
    margin-right: 5rem;
    font-size: 1.8rem;
    }
    
    
    &__arrow {
    
    }
    
    
    &__arrow-prev {
    
    }
    
    &__arrow-next {
    
    }
    
    &__content {
        // overflow: hidden;
    }
    

    &__content-wrap {
        display: inline-flex;
        align-items: center;
    }
    
    
    &__slide {

    }

    &__slide-img {
        width: 23rem;

        img {
            height: 13rem;
            width: 100%;
            object-fit: contain;
        }
    }
}






.footer {

    background-color: #F9F9F9;
    padding-top: 9rem;

    
    &__inner {
    
    }
    
    &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5.9rem;

    border-bottom: 0.2rem solid #E4E4E4;
    }
    
    &__top-left {
    
    }
    
    &__top-left-logo {
        margin-bottom: 5.5rem;

        img {
            width: 20.3rem;
            height: 6.6rem;
        }
    }
    
    &__top-left-social {

        display: flex;
        align-items: center;

        a {
            width: 4rem;
            height: 4rem;
            background-color: $brendColor;

            display: flex;
            align-items: center;
            justify-content: center;

            &:not(:last-child) {
                margin-right: 2rem;
            }

            img {
                width: 2.4rem;
                height: 2.4rem;
            }
        }
    
    }
    
    &__top-right {
    
    }
    
    &__top-nav {
        margin-bottom: 6rem;
        margin-top: 2.5rem;
    }
    
    &__top-list {
        display: flex;
    }
    
    &__top-item {
        font-size: 1.8rem;
        font-weight: 500;

        &:not(:last-child) {
            margin-right: 10rem;
        }
    
    }
    
    &__top-contact {
        display: flex;
        justify-content: flex-end;
    }
    
    &__email-wrap {
        color: $textColor;
        margin-right: 3.2rem;
        padding-bottom: 1.5rem;
    }

    &__email {
        font-size: 1.8rem;
        font-weight: 600;
    }

    &__email-text {
        font-size: 1.6rem;
        font-weight: 400;
        text-align: end;
    }

    &__phone-number {
        color: $textColorLight;
        font-size: 1.8rem;
        font-weight: 600;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 24.6rem;
        height: 6.9rem;
        background-color: $brendColor;
    }

    
    &__down {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 5rem;
    padding-bottom: 10.4rem;

    font-size: 1.6rem;
    font-weight: 300;
    }
}


.pagination {

    display: flex;
    align-items: center;

    position: absolute;
    right: 8rem;
    top: 6rem;
    z-index: 10;
    


    .swiper-pagination-bullet {
        width: 0.9rem;
        height: 0.9rem;
        background: #c4c4c4;


        &:not(:last-child) {
            margin-right: 1.9rem;
        }
    }

    .swiper-pagination-bullet-active {
        cursor:pointer;
        background-color: rgba(249, 249, 249, 1);
        width: 2rem;
        height: 2rem;
        background-image: linear-gradient(279deg, transparent 50%, #285f5b 50%), linear-gradient(17deg, #c4c4c4 50%, #285f5b 50%);
        position: relative;

        &::after {
            content: "";
            border-radius: inherit;
            inset: 0.3rem;
            background-color: #ffffff;

            position: absolute;
        }
    }
}


