.header {


    &__inner {
        padding-top: 1.8rem;

    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 255, 255, 1);
        margin-bottom: 1.5rem;
    }

    &__logo {
        width: 20.4rem;
        height: 5rem;
    }

    &__contact-info {
        display: flex;
        align-items: center;
    }

    &__social {
        width: 3.1rem;
        height: 3.1rem;

        margin-right: 2.5rem;
    }

    &__social-wrap {
        display: flex;
    }

    &__email-wrap {
        color: $textColor;
        margin-right: 3.2rem;
        padding-bottom: 1.5rem;
    }

    &__email {
        font-size: 1.8rem;
        font-weight: 600;
    }

    &__email-text {
        font-size: 1.6rem;
        font-weight: 400;
    }

    &__phone-number {
        color: $textColorLight;
        font-size: 1.8rem;
        font-weight: 600;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 24.6rem;
        height: 6.9rem;
        background-color: $brendColor;
    }

    &__bottom {
        padding-left: 43.8rem;
        background-color: rgba(249, 249, 249, 1);

        height: 5.3rem;
    }

    &__nav {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
    }

    &__nav-list {
        display: flex;
        align-items: center;
        margin-right: 5rem;
    }

    &__nav-item {
        font-size: 1.7rem;
        color: $textColor;

        &:not(:last-child) {
            margin-right: 8.1rem;
        }

        &:first-child {
            a {
                width: 18.2rem;
                height: 5.3rem;
                background-color: $brendColor;
    
                display: flex;
                align-items: center;
                justify-content: center;
    
                color: #ffffff;
                font-weight: 400;

                img {
                    width: 1.5rem;
                    height: 2.5rem;
                    margin-left: 2rem;
                }
            }
        }
    }


    &__search-wrap {
        width: 20rem;
        height: 100%;

        display: flex;
        align-items: center;
    }

    &__search {
        width: 32rem;
        display: flex;
        align-items: center;
    }

    &__search-input {
        width: 28rem;
        font-size: 1.8rem;

        &::placeholder {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
        }

        &:focus-within {
            border-bottom: 1px solid #8D8D8D;
        }
    }

    &__search-btn {
        width: 5rem;
        height: 5rem;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        img {
            width: 3.2rem;
            height: 3.2rem;
            object-fit: cover;
        }
    }
    
    &__search-body {
        width: 42.6rem;
        background: #F9F9F9;
        padding: 2rem;

        position: absolute;
        top: 5rem;
        right: 0;
        z-index: 100;
        display: none;
    }
    
    &__search-item {
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        color: #285F5B;

        span {
            margin-left: 1rem;
            color: #292729;
        }

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}




.banner {
    
margin-bottom: 12.3rem;
overflow: hidden;


&__slider {
    height: 100%;
    width: 100%;
}

&__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        object-fit: cover;
    }

    .swiper-slide:nth-child(1n) {
        background-color: rgb(206, 17, 17);
    }

    .swiper-slide:nth-child(2n) {
        background-color: rgb(0, 140, 255);
    }


    &.swiper-slide-active {

        // img {
        //     width: 100%;
        // }
    }

    &.swiper-slide-next {
       
        // img {
        //     width: 50rem;
        // }
    }
}

    margin-bottom: 12.3rem;
    overflow: hidden;

    &__slider-wrap {
        display: flex;
    }

    &__slider-box-inner {
        display: flex;
        height: 65.5rem;
    }

    &__slide-box-left {
        width: 51.5rem;
        padding: 28.5rem 1rem 10.5rem 1rem;
        position: relative;
        display: flex;
        justify-content: flex-end;
    }

    &__slide-left-text {
        width: 32.5rem;
    }

    &__subtitle-small {
        font-size: 1.8rem;
        font-weight: 600;
        color: $accentColor;
        margin-bottom: 1rem;
    }

    &__title-small {
        font-size: 3.2rem;
        font-weight: 600;
        color: #ffffff;
    }

    &__slide-box-right {
        width: 140rem;
        padding: 19.2rem 17.7rem 10.8rem 8rem;
        position: relative;
    }

    &__slide-img-left {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        height: 100%;
        object-fit: cover;
    }

    &__slide-img-right {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        height: 100%;
        object-fit: cover;
    }

    &__slide-box-right-wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__slide-top {
        margin-bottom: 4.5rem;
    }

    &__subtitle {
        font-size: 1.8rem;
        color: $accentColor;
        font-weight: 600;
        margin-bottom: 1.2rem;
        line-height: 1.25;
    }

    &__title-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2.8rem;
    }

    &__title {
        font-size: 5rem;
        font-weight: 600;
        color: #ffffff;
        width: 60rem;
    }

    &__arrow-next {
        cursor: pointer;
        align-self: flex-end;
        margin-bottom: 2rem;
        img {
            width: 2rem;
            height: 1.5rem;
        }
    }

    &__arrow-prew {
        cursor: pointer;
        align-self: flex-end;
        padding-bottom: 2rem;
        transform: rotateY(180deg);
        img {
            width: 2rem;
            height: 1.5rem;
        }
    }

    &__pagination {
        width: 10rem;
        color: #ffffff;
    }

    &__more-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__more {
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__more-text {
        font-size: 1.6rem;
        font-weight: 600;
        color: rgba(255, 255, 255, 1);
    }

    &__more-arrow {
        width: 5rem;
        height: 5rem;
        background-color: $accentColor;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 2rem;

        img {
            width: 2rem;
            height: 1.5rem;
        }
    }

    &__slide-down {
        padding-top: 6rem;
        border-top: 1px solid rgba(242, 242, 242, 0.3);
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;

        color: #ffffff;
        font-size: 1.7rem;

    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 3.8rem;

        position: relative;

        &::before {
            content: "";
            height: 0.1rem;
            width: 2.6rem;
            background-color: #F2F2F2;

            position: absolute;
            left: 0;
        }
    }


    &__slide-box-left-big {
        position: relative;
        width: 135rem;
        padding: 18.8rem 8rem 10.8rem 18.0rem;
    }

    &__slide-box-right-small {
        position: relative;
        width: 57rem;
        padding: 31.7rem 2rem 23rem 4.3rem;
    }
}

// .banner {
//     width: 100%;
//         height: 65.7rem;
    
//     &__slider {
//        width: 100%;
//        height: 100%;
//       }

//       &__slide {
//           position: relative;
//         // display: flex;
//         // align-items: center;
//         // justify-content: center;
//         // font-size: 22px;
//         // font-weight: bold;
//         // color: #fff;

//         img {
//             position: absolute;
//             top: 0;
//             left: 0;
//             right: 0;
//             bottom: 0;
//             z-index: -1;
//             width: 100%;
//             height: 100%;
//             object-fit: cover;
//         }

//         // .swiper-creative .swiper-slide {
//         //     &.swiper-slider-prev {
//         //         transform: translate3d(calc(0px), calc(0px), calc(0px)) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1) !important;
//         //     }
//         // }

//         // .swiper-creative .swiper-slide {
//         //     -webkit-backface-visibility: hidden;
//         //     backface-visibility: hidden;
//         //     overflow: hidden;
//         //     transition-property: opacity,height;
//         // }

//         &__slide .swiper-slide .swiper-slide-visible .swiper-slide-prev {
//             transform: translate3d(calc(0px), calc(0px), calc(0px)) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1) !important;

//         }
       
//     }


// }

.banner-main {

    &__accordian {
        width: 100%;
        height: 65.7rem;
        overflow: hidden;
        margin-bottom: 12rem;
    }
    
    &__accordian-list {
        width: 100%;
        height: 100%;
        display: flex;
    }
    
    &__accordian-item {
        position: relative;
        display: block;
        width: 50%;
        height: 100%;
        padding: 5rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background: transparent;

        transition: 1.3s;

        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            object-fit: cover;
            height: 100%;
            width: 100%;
            z-index: -1;
        }

        // &:not(:hover) {
        //     background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), 
        //     linear-gradient(0deg, rgba(0, 0, 0, 0.592) 23.39%, rgba(0, 0, 0, 0) 71.34%);
        // }

        &:hover {
            width: 150%;
            height: 100%;
            background: transparent;

            // .banner-main__text {
            //     width: 100%;
            //     padding-right: 8rem;
            //     padding-left: 18rem;
            // }

            .banner-main__subtitle {
                opacity: 0;
                // visibility: hidden;
                transition: 0.5s;
                transition-delay: 0s;
                // display: none;
            }

            .banner-main__title {
                opacity: 0;
                // visibility: hidden;
                transition: 0.5s;
                transition-delay: 0s;

                // display: none;
            }

            .banner-main__hover-wrap {
                opacity: 1;
                visibility: visible;
                width: 80%;
                transition-delay: 0.2s;

            }
        }
    }

    
    &__text {
        // width: 100%;
        // transition: 0.5s;
        // opacity: 1;
    }
    
    &__subtitle {
        font-size: 1.8rem;
        font-weight: 600;
        color: $accentColor;
        margin-bottom: 2rem;
        transition: opacity 1s, visibility 0s;
        transition-delay: 0s;


    }

    &__subtitle-hover {
        font-size: 1.8rem;
        font-weight: 600;
        color: $accentColor;
        margin-bottom: 2rem;
        // transition: 0.02s;
        transition: opacity 0.5s, visibility 0s;
        // transition-delay: 0.3s;


    }

    &__title-hover {
        font-size: 5rem;
        width: 70rem;
        margin-bottom: 3rem;
        color: #ffffff;
        font-weight: 600;
    }
    
    &__title {
        font-size: 5rem;
        font-weight: 600;
        color: #ffffff;
        width: 85%;
        transition: 0.4s;
        transition-delay: 0s;
    }

    &__hover-wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        opacity: 0;
        transition: opacity 0.5s, visibility 0s;
        transition-delay: 0s;
        visibility: hidden;
    }
    
    &__more-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 4rem;
    }
    
    &__more {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__more-arrow {
        width: 5rem;
        height: 5rem;
        background: $accentColor;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2rem;

        img {
            width: 1.5rem;
            height: 1.5rem;
            object-fit: contain;
            position: relative;
            z-index: 10;
        }
    }
    
    &__more-text {
        font-size: 1.6rem;
        font-weight: 600;
        color: #ffffff;
    }
    
    &__pagination {
        display: flex;
        align-items: flex-end;
        font-size: 1.5rem;
        font-weight: 400;
        color: #ffffff;
        line-height: 1;

        span {
            font-size: 4rem;
            margin-right: 1rem;
        }
    }

    
    &__down {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 6rem;
        border-top: 0.1rem solid rgba(242, 242, 242, 0.3);
        padding-left: 4rem;
    }
    
    &__down-item {
        font-size: 1.7rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        position: relative;

        &::before {
            content: "";
            width: 3rem;
            height: 0.1rem;
            background: rgba(255, 255, 255, 1);

            position: absolute;
            left: -4rem;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
        }
    }
}




.categories {

    margin-bottom: 18.2rem;

    &__top {
        display: flex;
        align-items: flex-end;
        margin-bottom: 7rem;
    }

    &__title {
        font-size: 4rem;
        font-weight: 600;
        color: $textColor;
        margin-right: 7.5rem;
    }

    &__sort-wrap {
        display: flex;
        align-items: flex-end;
        line-height: 2;
    }

    &__sort-link {
        font-size: 1.7rem;
        font-weight: 600;

        &:not(:last-child) {
            margin-right: 4rem;
        }

        &.active {
            color: $brendColor;
        }
    }

    &__content {

    }

    &__content-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    &__box {
        width: 49.3rem;
        height: 30rem;
        position: relative;

        cursor: pointer;

        &:not(:nth-child(3n)) {
            margin-right: 4rem;
        }

        &:not(:nth-child(n+4)) {
            margin-bottom: 4rem;
        }
    }

    &__box-start {
        padding: 4rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        transition: 1s;

        &:hover {

            background-color: $brendColor;
            justify-content: flex-start;

            .categories__box-img {
            background-color: $brendColor;
            }


            .categories__box-subtitle {
                font-size: 1.8rem;
                font-weight: 600;
                color: rgba(255, 255, 255, 1);
                margin-bottom: 1rem;
            }

            .categories__box-title {
                font-size: 3.2rem;
                font-weight: 600;
                color: rgba(255, 255, 255, 1);
                margin-bottom: 3rem;
            }

            .categories__hover-text {
                display: flex;
            }

            .categories__hover-link {
                display: flex;
            }
        }
    }

    &__box-img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 1;
        background: url(./../img/categories1.png);
    }

    &__box-subtitle {
        font-size: 1.8rem;
        font-weight: 600;
        color: $accentColor;
        margin-bottom: 0.5rem;
    }

    &__box-title {
        font-size: 3.2rem;
        font-weight: 600;
        color: #ffffff;
    }

    &__hover-text {
        font-size: 1.7rem;
        font-weight: 300;
        color: rgba(255, 255, 255, 1);
        width: 89%;
        line-height: 1.3;

        display: none;
    }

    &__hover-link {
        width: 9.5rem;
        height: 8.9rem;
        background-color: rgba(255, 255, 255, 1);

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        right: 0;
        top: 0;

        img {
            width: 2rem;
            height: 2rem;
        }

        display: none;
    }
}




.services {
    margin-bottom: 6rem;
    overflow: hidden;

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 7rem;
    }

    &__title {
        font-size: 4rem;
        font-weight: 600;
        color: $textColor;
    }

    &__slider-control-wrap {
        display: flex;
        width: 25rem;
    }

    &__pagination {
        margin-right: 4.65rem;
        font-size: 1.5rem;
        font-weight: 400;

        .swiper-pagination-current {
            font-size: 4rem;
            font-weight: 600;
        }

        .swiper-pagination-total {
            font-size: 1.5rem;
            font-weight: 400;
        }
    }

    &__content {
        display: flex;
        overflow: hidden;

    }

    &__slider {
        width: 100%;
    }

    &__slider-wrap {
    }

    &__slide {
        height: 57rem;
        cursor: pointer;
        position: relative;
    }


    &__slide-start {
        border: 1px solid #E4E4E4;
        padding: 5rem 5rem 6.6rem 5rem;
        transition: 1.2s;

        @media (min-width: 48em) {
            &:hover {
                opacity: 1;
                transform: scale(1.1);
                box-shadow: 0rem 4rem 10rem rgba(27, 36, 49, 0.05);
                border: none;
                background-color: #ffffff;
    
                position: absolute;
                top: -3rem;
                z-index: 10;
    
                .services__slide-link-hover {
                    display: flex;
                }
    
                .services__slide-title {
                    color: $brendColor;
                }
    
                .services__slide-subtitle {
                    margin-bottom: 3.5rem;
                }
    
                .services__img-bg {
                    display: block;
                }

                .services__slide-img-wrap {
                    svg {
                        fill: $brendColor;
                        stroke: $brendColor;
                    }
                }
            }
            
        }
    }

    &__slide-img-wrap {
        width: 10.8rem;
        height: 10.8rem;
        margin-bottom: 5rem;
        transition: 0.8s;

        svg {
            width: 10.8rem;
            height: 10.8rem;
            fill: #E1E1E1;
            stroke: #E1E1E1;
        }
    }

    &__slide-img {
        height: 100%;
    }

    &__slide-title {
        font-size: 2.5rem;
        font-weight: 500;
        color: $textColor;
        margin-bottom: 2.2rem;
    }

    &__slide-subtitle {
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 1.3;
    }

    &__img-bg {
        position: absolute;
        right: 0;
        top: 0;
        width: 65%;
        height: 100%;
        object-fit: cover;
        display: none;
    }


    &__slide-link-hover {
        font-size: 1.6rem;
        font-weight: 700;
        color: rgba(35, 35, 35, 1);

        display: flex;
        align-items: center;
        display: none;
    }

    &__slide-arrow {
        width: 5.2rem;
        height: 5rem;
        flex-shrink: 0;
        background-color: $brendColor;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 2.1rem;

        img {
            width: 1.3rem;
            height: 1.3rem;
        }
    }

}


.distributor {

    margin-bottom: 17.5rem;
    margin-left: 18rem;
    margin-right: 15rem;

    .container {
        margin: 0;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }
    
    &__photo {
        overflow: hidden;
        width: 76rem;
        position: relative;
    }
    

    &__photo-wrap {
    position: relative;
    z-index: 2;
    }
    
    &__photo-slide {
        padding: 5.9rem 5.7rem 4.3rem 5.8rem;
        position: relative;
        background-color: rgba(249, 249, 249, 1);
        z-index: -1;
    }

    &__background{
        position: absolute;
        transform: scale(-1, 1);
        height: 100%;
        width: 53%;
        object-fit: cover;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &__photo-slide-top {
    
    }

    &__photo-pagin {

        &.pagination {
            right: 2.3rem;
            top: 3rem;
            left: auto;
            width: 10rem;
            height: 5rem;
        }
    }
    
    &__photo-slide-new {
        width: 14.43rem;
        height: 4.35rem;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: rgba(31, 72, 69, 1);

        img {
            width: 2.4rem;
            height: 2.4rem;

            margin-right: 1.07rem;
        }

        span {
            font-size: 1.8rem;
            font-weight: 500;
            color: rgba(255, 255, 255, 1);
        }
    
    }
    
    &__photo-slide-img {
    width: 45rem;
    height: 43rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    img {
        height: 100%;
        object-fit: cover;
        mix-blend-mode: multiply;
    }
    
    }
    
    &__photo-slide-text {
    
    }
    
    &__photo-slide-articul {
    font-size: 1.46rem;
    font-weight: 600;
    color: #285F5B;
    }
    
    &__photo-slide-down {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
    }
    
    &__photo-slide-name {
    font-size: 2.5rem;
    font-weight: 400;
    color: $textColor;
    }
    
    &__photo-slide-price {
        font-size: 3.9rem;
        font-weight: 600;

        sup {
            font-size: 1.8rem;
            vertical-align: top;
        }
    
    }
    
    &__our-distr {
        width: 79rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    &__our-distr-title {
        font-size: 4rem;
        font-weight: 600;

        margin-bottom: 4rem;
        margin-left: 3.3rem;

    }
    
    &__our-distr-control {
        display: flex;
        align-items: center;
        justify-content: space-between;

        position: absolute;
        top: 9rem;
        width: 94%;
    }
    

    &__our-distr-slider {
        overflow: hidden;
        margin-left: 3.3rem;
    }
    
    
    &__our-distr-slide {
        display: flex;
        flex-wrap: wrap;
    }
    
    &__our-distr-box {
        width: 23rem;
        height: 14rem;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #1F4845;
        cursor: pointer;
        transition: 0.8s;

        &:not(:nth-child(3n)) {
            margin-right: 2.8rem;
        }

        &:not(:nth-child(n+6)) {
            margin-bottom: 2.8rem;
        }

        position: relative;

        &:hover {
            background: #ffffff;
            .distributor__box-img-start {
                display: none;
            }

            box-shadow: 0rem 2rem 2rem rgba(27, 36, 49, 0.16);
            transform: scale(1.2) rotateY(180deg);

            .distributor__box-img-hover {
                display: flex;
            }
        }
    }
    
    &__box-img-start {
        margin: 0 auto;
        object-fit: contain;
        height: 7rem;
        width: 14.1rem;
    }
    
    &__box-img-hover {
        height: 8.8rem;
        object-fit: contain;
        transform: rotateY(180deg);

        display: none;
    }
    

}


.clients {

    margin-bottom: 22.5rem;

    &__inner {
        overflow: hidden;
        // position: relative;
    }
    
    &__title-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 10rem;
    }
    

    &__title {
        font-size: 4rem;
        font-weight: 600;
        color: $textColor;
    }

    &__content {
        position: relative;
    }
    

    &__control-wrap {
        display: flex;
    }
    

    &__pagination {
    margin-right: 5rem;
    font-size: 1.8rem;
    flex-shrink: 0;
    }

    &__content {
        // overflow: hidden;
    }

    &__content-wrap {
        display: inline-flex;
        align-items: center;
        // overflow: hidden;
    }

    &__slide {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__slide-img {
        width: 23rem;

        img {
            height: 13rem;
            width: 100%;
            object-fit: contain;
        }
    }
}




.footer {

    background-color: #F9F9F9;
    padding-top: 9rem;
    
    &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5.9rem;

    border-bottom: 0.2rem solid #E4E4E4;
    }

    
    &__top-left-logo {
        margin-bottom: 5.5rem;
        display: block;

        img {
            width: 20.3rem;
            height: 6.6rem;
        }
    }
    
    &__top-left-social {

        display: flex;
        align-items: center;

        a {
            width: 4rem;
            height: 4rem;
            background-color: $brendColor;

            display: flex;
            align-items: center;
            justify-content: center;

            &:not(:last-child) {
                margin-right: 2rem;
            }

            img {
                width: 2.4rem;
                height: 2.4rem;
            }
        }
    }
    
    
    &__top-nav {
        margin-bottom: 6rem;
        margin-top: 2.5rem;
    }
    
    &__top-list {
        display: flex;
    }
    
    &__top-item {
        font-size: 1.8rem;
        font-weight: 500;

        &:not(:last-child) {
            margin-right: 10rem;
        }
    }
    
    &__top-contact {
        display: flex;
        justify-content: flex-end;
    }
    
    &__email-wrap {
        color: $textColor;
        margin-right: 3.2rem;
        padding-bottom: 1.5rem;
    }

    &__email {
        font-size: 1.8rem;
        font-weight: 600;
    }

    &__email-text {
        font-size: 1.6rem;
        font-weight: 400;
        text-align: end;
    }

    &__phone-number {
        color: $textColorLight;
        font-size: 1.8rem;
        font-weight: 600;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 24.6rem;
        height: 6.9rem;
        background-color: $brendColor;
    }

    
    &__down {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 5rem;
    padding-bottom: 10.4rem;

    font-size: 1.6rem;
    font-weight: 300;
    }
}




