.popup {
    position: fixed;
    z-index: 999999;
    height: 100%;
    width: 100%;
    background-color: rgba(31, 31, 31, 0.4);
    top: 0;
    left: 0;
    overflow-y: auto;
    display: none;

    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6rem;
    }

    &__content {
        background-color: #ffffff;
        width: 90.9rem;
        position: relative;
    }

    &__close {
        width: 2.5rem;
        height: 2.5rem;

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        right: 1.7rem;
        top: 1.8rem;
        z-index: 99;
    }

    &__close-img {
        height: 100%;
        object-fit: contain;
    }

    &__content-wrap {
        display: flex;
        justify-content: space-between;
        height: 100%;
    }

    &__content-wrap-left {
        width: 55.9rem;
        display: flex;
        flex-direction: column;
        padding: 5rem 5rem 5rem 5rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 4rem;
        font-weight: 600;
        color: #292729;
        margin-bottom: 2rem;
    }

    &__subtitle {
        font-size: 2rem;
        font-weight: 400;
        color: #292729;
        margin-bottom: 1.8rem;
    }

    &__input-wrap {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
    }

    &__label {
        height: 4.8rem;
        border-bottom: 1px solid #A2A2A2;
        margin-bottom: 1.5rem;

        &.request {
            height: 9rem;
            margin-bottom: 0rem;
        }
    }

    &__input-contact-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__input {
        font-size: 1.8rem;
        font-weight: 400;
        width: 100%;
        border: none;

        &::placeholder {
                font-size: 1.8rem;
                font-weight: 400;
                color: #959595;
                position: relative;

                &::after {
                    content: "*";
                    position: absolute;
                    width: 2rem;
                    height: 2rem;
                    top: 0;
                    right: 0;
                    color: red;
                }
        }

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__input-request {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        line-height: 1.65;

        span {
                font-size: 1.8rem;
                font-weight: 400;
                color: #959595;
                border-bottom: 1px solid #A2A2A2;
                display: block;
        }
    }


    &__select-title {
        font-size: 1.4rem;
        font-weight: 400;
        color: #959595;
        margin-bottom: 5rem;
    }

    &__select {
        display: flex;
        margin-bottom: 5rem;
        padding-left: 0.5rem;
    }

    &__select-item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-right: 10rem;
        }
    }

    &__checkbox {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;

        &:checked + .popup__checkbox-style::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 0.3rem;
            background-image: url(./../img/check.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 1.5rem;
            background-color: #285f5b;
            transform: translate(-50%, -50%);
            visibility: visible;
        }
    }

    &__checkbox-style {
        position: relative;
        margin-right: 2rem;
        padding-left: 1.5rem;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 2.5rem;
            height: 2.5rem;
            background: #FFFFFF;
            border: 1px solid #C0C0C0;
            border-radius: 0.3rem;
            transform: translate(-50%, -50%);
        }
    }

    &__select-label {
        font-size: 1.4rem;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        cursor: pointer;
    }

    &__link-wrap {
        width: 27.1rem;
        height: 7.9rem;
        padding: 1rem 1.2rem 1rem 3.3rem;
        background-color: $brendColor;
        font-size: 1.8rem;
        font-weight: 400;
        color: #ffffff;
        
        display: flex;
        align-items: center;
    }
    
    &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    
    &__link-arrow {
        width: 4.5rem;
        height: 4.5rem;
        background: rgba(255, 255, 255, 0.24);
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 2rem;
            height: 2rem;
            object-fit: contain;
        }
    }

    &__content-wrap-right {
        width: 50%;
        height: 94.3rem;
    }

    &__img {
        height: 100%;
        object-fit: cover;
    }
    
    &__content-right {
        width: 35rem;
        background-color: $brendColor;
        padding: 13.9rem 5rem 5.5rem 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        position: relative;
    }

    &__content-right-bg {
        transform: rotate(290deg);
        width: 41.5rem;
        height: 59.6rem;

        position: absolute;
        top: -18rem;
        right: 0;
    }
    
    &__right-messengers {
        font-size: 1.8rem;
        font-weight: 400;
        color: #ffffff;
    }
    
    &__right-messenger {
        display: flex;
        align-items: center;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 3rem;
        }

        img {
            width: 2rem;
            height: 1rem;
            object-fit: contain;
            margin-left: 1rem;
        }
    }
    
    &__right-contacts {
        font-size: 1.8rem;
        font-weight: 400;
        color: #ffffff;
        height: 13.2rem;
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    &__tel {
        font-weight: 600;
    }

    &__right-sale-email {
        font-weight: 600;
    }
    
    &__right-address {
        color: #BDBDBD;
    }
}





.accepted {
    position: fixed;
    z-index: 999999;
    height: 100%;
    width: 100%;
    background-color: rgba(31, 31, 31, 0.4);
    top: 0;
    left: 0;

    overflow-y: auto;

    display: none;

    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6rem;
    }

    &__content {
        background-color: #ffffff;
        width: 90.9rem;
        height: 73.8rem;
        position: relative;
    }

    &__close {
        width: 2.5rem;
        height: 2.5rem;

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        right: 1rem;
        top: 1rem;
        z-index: 99;
    }

    &__close-img {
        height: 100%;
        object-fit: contain;
    }

    &__content-wrap {
        display: flex;
        justify-content: space-between;
        height: 100%;
    }

    &__content-wrap-left {
        width: 55.9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 5.0rem;
    }

    
    &__left-pic {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        background-color: $brendColor;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4rem;

        img {
            width: 3.5rem;
            height: 3.5rem;
            object-fit: contain;
        }
    }
    
    &__left-title {
    font-size: 4rem;
    font-weight: 600;
    color: #292729;
    margin-bottom: 2rem;
    }
    
    &__left-subtitle {
        font-size: 1.8rem;
        font-weight: 400;
        color: #292729;
        text-align: center;
        width: 33rem;
        line-height: 1.27;
    }
    
}
