.select {
    
    position: relative;

    width: 30.5rem;

    &__title {
    font-size: 1.8rem;
    font-weight: 600;
    color: rgba(41, 39, 41, 1);
    margin-bottom: 0.6rem;
    }
    
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding-bottom: 2rem;
    
    }
    
    &__current {
        font-size: 1.6rem;
        font-weight: 400;
        color: rgba(197, 197, 197, 1);
    
    }
    
    &__icon {
        width: 1.5rem;
        height: 2rem;

        img {
            width: 100%;
            object-fit: contain;
        }
    
    }
    
    &__body {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0px 34px 80px rgba(41, 39, 41, 0.1);
        width: 100%;

        position: absolute;
        left: 0;
        right: 0;
        top: 100%;

        z-index: 1;

        display: none;


    
    }

    &__item {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        font-size: 1.6rem;
        height: 4rem;
        color: $textColor;
        cursor: pointer;

        &:hover {
            background-color: rgba(249, 249, 249, 1);
        }
    }
}

.select.is-active .select__body {
    display: flex;
}