.swiper-pagination-current {
    font-size: 4rem;
    font-weight: 600;
}

.swiper-pagination-total {
    font-size: 1.5rem;
    font-weight: 400;
}


.btn-slider-wrap {
    display: flex;

    cursor: pointer;
    position: relative;
    z-index: 10;

    img {
        width: 1.4rem;
        height: 1.4rem;
        position: relative;
        z-index: 15;
    }
}

.btn-next {
    width: 5rem;
    height: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(165deg, transparent 50%, rgba(40, 95, 91, 1) 50%),
        linear-gradient(89deg, rgba(196, 196, 196, 1) 50%, rgba(40, 95, 91, 1) 50%);
    position: relative;

    &::after {
        content: "";
        width: 85%;
        height: 85%;
        background-color: #ffffff;
        position: absolute;
    }

    &.swiper-button-disabled {
        background-image: linear-gradient(165deg, transparent 50%, rgba(196, 196, 196, 1) 50%),
            linear-gradient(89deg, rgba(196, 196, 196, 1) 50%, rgba(196, 196, 196, 1) 50%);
    }
}

.btn-prev {
    width: 5rem;
    height: 5rem;
    background-image: linear-gradient(165deg, transparent 50%, rgba(40, 95, 91, 1) 50%),
        linear-gradient(89deg, rgba(196, 196, 196, 1) 50%, rgba(40, 95, 91, 1) 50%);
    transform: rotate(-180deg);
    margin-right: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        content: "";
        width: 85%;
        height: 85%;
        background-color: #ffffff;
        position: absolute;
    }

    &.swiper-button-disabled {
        background-image: linear-gradient(165deg, transparent 50%, rgba(196, 196, 196, 1) 50%),
            linear-gradient(89deg, rgba(196, 196, 196, 1) 50%, rgba(196, 196, 196, 1) 50%);
    }
}







.number-page-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-prew-custom {
    width: 4rem;
    height: 4rem;
    background-image: linear-gradient(165deg, transparent 50%, rgba(196, 196, 196, 1) 50%),
            linear-gradient(89deg, rgba(196, 196, 196, 1) 50%, rgba(196, 196, 196, 1) 50%);
    transform: rotate(-180deg);
    margin-right: 7rem;

    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        content: "";
        width: 89%;
        height: 89%;
        background-color: #ffffff;
        position: absolute;
    }

    img {
        width: 1.4rem;
        height: 1.4rem;
        position: relative;
        z-index: 15;
    }

    &.active {
        background-image: linear-gradient(165deg, transparent 50%, rgba(40, 95, 91, 1) 50%),
        linear-gradient(89deg, rgba(196, 196, 196, 1) 50%, rgba(40, 95, 91, 1) 50%);
    }
}

.pagination-custom {
    width: 7rem;
    display: flex;
    align-items: flex-end;
    margin-right: 7rem;

    span {
        font-size: 1.2rem;
        font-weight: 400;
        color: #292729;
        line-height: 1.5;
    }
}

.curent {
    font-size: 3.2rem;
    font-weight: 600;
    color: #292729;
    margin-right: 0.5rem;
}

.total {
    font-size: 1.2rem;
    font-weight: 400;
    color: #292729;
    line-height: 1.5;
}

.arrow-next-custom {
    width: 4rem;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(165deg, transparent 50%, rgba(196, 196, 196, 1) 50%),
            linear-gradient(89deg, rgba(196, 196, 196, 1) 50%, rgba(196, 196, 196, 1) 50%);
    position: relative;

    &::after {
        content: "";
        width: 89%;
        height: 89%;
        background-color: #ffffff;
        position: absolute;
    }

    &.active {
        background-image: linear-gradient(165deg, transparent 50%, rgba(40, 95, 91, 1) 50%),
        linear-gradient(89deg, rgba(196, 196, 196, 1) 50%, rgba(40, 95, 91, 1) 50%);
    }

    img {
        width: 1.4rem;
        height: 1.4rem;
        position: relative;
        z-index: 15;
    }
}