.swiper-pagination-current {
    font-size: 4rem;
    font-weight: 600;
}

.swiper-pagination-total {
    font-size: 1.5rem;
    font-weight: 400;
}


.btn-slider-wrap {
    display: flex;

    cursor: pointer;
    position: relative;
    z-index: 10;

    img {
        width: 1.4rem;
        height: 1.4rem;
        position: relative;
        z-index: 15;
    }
}

.btn-next {
    width: 5rem;
    height: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(165deg, transparent 50%, rgba(40, 95, 91, 1) 50%),
        linear-gradient(89deg, rgba(196, 196, 196, 1) 50%, rgba(40, 95, 91, 1) 50%);
    position: relative;

    &::after {
        content: "";
        width: 85%;
        height: 85%;
        inset: 0.4rem;
        background-color: #ffffff;
        position: absolute;
    }

    &.swiper-button-disabled {
        background-image: linear-gradient(165deg, transparent 50%, rgba(196, 196, 196, 1) 50%),
            linear-gradient(89deg, rgba(196, 196, 196, 1) 50%, rgba(196, 196, 196, 1) 50%);
    }
}

.btn-prev {
    width: 5rem;
    height: 5rem;
    background-image: linear-gradient(165deg, transparent 50%, rgba(40, 95, 91, 1) 50%),
        linear-gradient(89deg, rgba(196, 196, 196, 1) 50%, rgba(40, 95, 91, 1) 50%);
    transform: rotate(-180deg);
    margin-right: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        content: "";
        width: 85%;
        height: 85%;
        inset: 0.4rem;
        background-color: #ffffff;
        position: absolute;
    }

    &.swiper-button-disabled {
        background-image: linear-gradient(165deg, transparent 50%, rgba(196, 196, 196, 1) 50%),
            linear-gradient(89deg, rgba(196, 196, 196, 1) 50%, rgba(196, 196, 196, 1) 50%);
    }
}